
 <!--<div>
    <router-outlet></router-outlet>
</div> 
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-1">Product Management Application</h1>
      <p class="lead">one click solution to handle customer queries</p>
      <hr class="my-2">
      
    </div>
  </div>

 <app-product-list>

 </app-product-list>
  <div class="container-fluid">
  </div>
  <app-add-product> 

  </app-add-product>
  <app-product-details>

  </app-product-details>

  <app-update-product>
    
  </app-update-product>-->


  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Forestry Management Application</h1>
      <p class="lead">one click to manage all the operations.</p>
      <hr class="my-2">
    </div>
  </div>
  <div>
    <ul>
      <li>
        <a routerLink="add" >ADD PRODUCTS</a>
      </li>
      <li>
        <a routerLink="products" >PRODUCTS LIST</a>
      </li>
    </ul>
  </div>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  
  